.welcome-container {
  text-align: center;
  /* margin-top: 50px; */
  padding-bottom: 50px;
  background: linear-gradient(#191924, #33193f);
  padding-top: 50px;

  padding: 60px 2% 30px 12px;
  border-radius: 0.75em;
  position: relative; 
}

.welcome-container:hover:before {
  opacity: .1;
}

.welcome-container:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    rgb(255, 215, 137) 50%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}
.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.welcome-container p {
  color: #9c9da2;
}

span {
  color: #009acc;
}
