.welcome-container {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(#191924, #33193f);
  padding-top: 50px;

}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.welcome-container p {
  color: #9c9da2;
}

span {
  color: #009acc;
}
