 body {
   background-image: linear-gradient(rgba(0, 0, 0, .690), rgba(0, 0, 0, 0.8)), url("/public/bg.jpg");
 }

 .mainClass {
   position: fixed;
   backdrop-filter: blur(90px);
 }

 .NameContainer {
   transition: all;
   animation: forwards;
   display: flex;
   justify-content: center;
  }
  .NameContainer h1{
  border-right:3.5px solid green ;
  font-weight: bold;
  color: #007acc;
  border-right: 2px solid #007acc;
  animation: blink 0.7s step-end infinite;
  font-weight: bold;
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: #007acc; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
 .page {
   filter: blur(7px);
   pointer-events: none;
   cursor: not-allowed;
 }

 .TwoHalves {
   margin-top: 50px;
 }

 .NavBar {
   width: 300px;
   float: left;
   border-right: .20rem solid brown;
   text-decoration: none;
 }

 .NavBar ul {
   list-style-type: none;
   margin: 2%;
   padding: 0rem;
   border: 1px solid purple;
   border-bottom: none;
 }

 .NavBar ul li {
   list-style-type: none;
   padding: 0.9rem;
   border-bottom: .20px solid brown;
 }

 .NavBar li :hover {
   color: black;
   background-color: cadetblue;
 }


 .NavBar ul li a {
   font-size: 200%;
   text-decoration: none;
   display: inline;
   color: white;
   padding: inherit;
 }

 .NavBar ul li a:hover {
   font-size: 230%;
 }

 .NavBar ul li a.active {
   font-size: 230%;
   background-color: red;
 }

 .gridCont {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   align-items: center;
   border: 1px solid black;
   gap: 10px,
 }

 .ComponentArena {
   border: 1px solid green;
   margin: 0px 40px 10px 300px;

   width: 1090px;
   height: inherit;
   padding-left: 20px;
   font-size: small;
   backdrop-filter: blur(40px);
 }

 .ComponentArena p {
   padding: 15px 0px;
   color: aquamarine
 }

 h2 {
   color: orange;
 }

 .overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 999;
   display: none;
   transition: all 0.5s ease-in-out;
 
 }