 p {
     display: inline-block;
     font-weight: bold;
     font-size: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin: 2rem;
     color: lightcoral;
 }

 h1 {
     color: orange;
     display: inline-block;
     justify-content: center;
     font-family: cursive;
     
 }