/* Footer.css */

.footer {
  color: #fff;
  padding: 3rem 0; /* Adjust padding for spacing */
 background: rgba(255, 255, 255, 0.03);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.5px);
-webkit-backdrop-filter: blur(14.5px);
border: 0.1px solid lightcoral;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem; /* Adjust padding for spacing */
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin-bottom: 1.5rem; /* Adjust margin for spacing */
}

.footer-section h3 {
  font-size: 1.5rem; /* Adjust font size for heading */
  margin-bottom: 1rem; /* Adjust margin for spacing */
}

.footer-section p {
  font-size: 1rem; /* Adjust font size for paragraph */
  line-height: 1.5;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons .redicon {
  color: #ff0000; /* Change to your desired hover color */
}

.social-icons .blueicon{
  color: #0476e6; /* Additional hover effect for specific icons */
}
.social-icons .instaaa{
  color: #fe005c; /* Additional hover effect for specific icons */
}
.social-icons {
  margin-top: 1rem; /* Adjust margin for spacing */
}

.social-icons a {
  color: #fff;
  margin-right: 1rem; /* Adjust margin for spacing */
  transition: color 0.3s ease;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 1rem; /* Adjust margin for spacing */
}

ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to start on smaller screens */
  }

  .footer-section {
    width: 100%; /* Full width on smaller screens */
  }
  .social-icons a {
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #fa923f; /*  Change to your desired hover color */
  }
  
  .social-icons .blueicon:hover {
    color: #0476e6; /* Additional hover effect for specific icons */
  }
  
}