.expertiseContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    padding: 20px;
    text-align: center;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.active {
    display: block;
    opacity: 1;
  }
  
  .slide h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .slide ul {
    list-style-type: none;
    padding: 0;
  }
  
  .slide ul li {
    font-size: 18px;
    margin: 5px 0;
  }
   
  @media (max-width: 1000px) {
    .expertiseContainer {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    
    .slide {
      display: none;
      padding: 20px;
      text-align: center;
      transition: opacity 1s ease-in-out;
    }
    
    .slide.active {
      display: block;
      opacity: 1;
    }
    
    .slide h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .slide ul {
      list-style-type: none;
      padding: 0;
    }
    
    .slide ul li {
      font-size: 18px;
      margin: 5px 0;
    }
    .slide p{color: black;}
    
  }