
.expertiseContainer {
  position: relative;
  background: linear-gradient(#191924, #33193f);
  width: 100%;
  padding-top: 50px;

  overflow: hidden;
 
border-radius: 0.75em;
position: relative; 
}

.expertiseContainer:hover:before {
opacity: .1;
}

.expertiseContainer:before {
background: linear-gradient(
  45deg,
  transparent 5%,
  rgb(255, 215, 137) 50%,
  transparent 99%
);
border-radius: inherit;
content: "";
inset: 0px;
opacity: 0;
position: absolute;
transition: opacity 400ms;
z-index: 0;
}

.slide {
  display: none;
  padding: 20px;
  text-align: center;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  display: block;
  opacity: 1;
}

.slide h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide ul {
  list-style-type: none;
  padding: 0;
}

.slide ul li {
  font-size: 18px;
  margin: 5px 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.prevButton,
.nextButton {
 
   background: inherit;
  border: none;
 color: aliceblue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
 
}

.prevButton {
  margin-left: 20px;
}

.nextButton {
  margin-right: 20px;
}

.prevButton:hover,
.nextButton:hover {
  
  font-size: x-large;
}

.fontss{
  color:inherit
}